
@{
    ViewData["Title"] = "Shop_details";
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @model IEnumerable<OnlineSuperMarket.Models.Cart_Model>
}


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <!-- about css styling -->
    <link rel="stylesheet" href="~/aboutpg_styling/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/animate.css">

    <link rel="stylesheet" href="~/aboutpg_styling/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/magnific-popup.css">

    <link rel="stylesheet" href="~/aboutpg_styling/css/aos.css">

    <link rel="stylesheet" href="~/aboutpg_styling/css/ionicons.min.css">

    <link rel="stylesheet" href="~/aboutpg_styling/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/aboutpg_styling/css/flaticon.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/icomoon.css">
    <link rel="stylesheet" href="~/aboutpg_styling/css/style.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style></style>
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="@Url.Action("Shop_cart","web")"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth ">
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") == null)
                {

                    <a href="@Url.Action("Register","Web")"><i class="fa fa-user"></i> Register</a>
                }
                else
                {
                    <!-- User Dropdown -->

                    <a class="nav-link  dropdown-toggle p-0 d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/img/profile.jpg" class="rounded-circle" width="40" height="40" alt="User Avatar">
                    </a>

                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0 rounded-3" aria-labelledby="userDropdown">
                        <li class="px-3 py-2">
                            <div class="d-flex align-items-center">
                                <img src="~/img/profile.jpg" class="rounded-circle me-3" width="40" height="40" alt="User Avatar">
                                <div class="flex-grow-1">
                                    <h6 class="mb-1 fw-semibold">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</h6>
                                    <small class="text-muted d-block">Customer</small>
                                </div>
                            </div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-person me-2"></i> My Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-gear me-2"></i> Settings
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Web")" class="dropdown-item d-flex align-items-center text-danger">
                                <i class="bi bi-power me-2"></i> Log Out
                            </a>
                        </li>
                    </ul>



                }
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href=" @Url.Action("Home","web")">Home</a></li>
                <li><a href="@Url.Action("Vegetables_category" , "category")">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="@Url.Action("Shop_details","web")">Shop Details</a></li>

                        <li><a href="@Url.Action("Checkout","web")">Check Out</a></li>

                    </ul>
                </li>
                <li><a href="@Url.Action("About","web")">About Us</a></li>
                <li><a href="@Url.Action("Contact","web")">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> ogani@gmail.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> ogani@gmail.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="~/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth ">
                                @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") == null)
                                {

                                    <a href="@Url.Action("Register","Web")"><i class="fa fa-user"></i> Register</a>
                                }
                                else
                                {
                                    <!-- User Dropdown -->

                                    <a class="nav-link  dropdown-toggle p-0 d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/img/profile.jpg" class="rounded-circle" width="40" height="40" alt="User Avatar">
                                    </a>

                                    <!-- Dropdown Menu -->
                                    <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0 rounded-3" aria-labelledby="userDropdown">
                                        <li class="px-3 py-2">
                                            <div class="d-flex align-items-center">
                                                <img src="~/img/profile.jpg" class="rounded-circle me-3" width="40" height="40" alt="User Avatar">
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1 fw-semibold">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</h6>
                                                    <small class="text-muted d-block">Customer</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <i class="bi bi-person me-2"></i> My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <i class="bi bi-gear me-2"></i> Settings
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a href="@Url.Action("Logout", "Web")" class="dropdown-item d-flex align-items-center text-danger">
                                                <i class="bi bi-power me-2"></i> Log Out
                                            </a>
                                        </li>
                                    </ul>



                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <marquee style="background-color: #7ab952; color: white;" behavior="" direction="right"> <span style="margin-left: 60px;">ONLY CASH ON DELIVERY AVAILABLE</span> <span style="margin-left: 60px;">  ONLY CASH ON DELIVERY AVAILABLE </span> <span style="margin-left: 60px;">ONLY CASH ON DELIVERY AVAILABLE</span><span style="margin-left: 60px;">ONLY CASH ON DELIVERY AVAILABLE</span><span style="margin-left: 60px;">ONLY CASH ON DELIVERY AVAILABLE</span><span style="margin-left: 60px;">ONLY CASH ON DELIVERY AVAILABLE</span></marquee>


        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Home","web")"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Home","web")">Home</a></li>
                            <li><a href="@Url.Action("Vegetables_category" , "category")">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="@Url.Action("shop_details","web")">Shop Details</a></li>

                                    <li><a href="@Url.Action("Chechout","web")">Check Out</a></li>

                                </ul>
                            </li>
                            <li><a href="@Url.Action("About","web")">About Us</a></li>
                            <li><a href="@Url.Action("Contact", "web")">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="@Url.Action("Shop_cart","web")"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$0.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <section class="hero">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-9 d-flex justify-content-center">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="@Url.Action("Search", "Category")" method="get">
                                <input type="text" name="Search_input" placeholder="Search by productName, category, or brand...">
                                <button type="submit" class="site-btn"><i class="bi bi-search"></i></button>
                            </form>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </section>
    <style>
        .product-heading {
        font-size: 38px;
        font-weight: bold;
        text-align:center;
        color: #7fad39;
        margin-bottom: 10px;
        }

        .cart-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Space between cart & button */
        }
        .cart {
        display: flex;
        align-items: center;
        background: white;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        button {
        width: 30px;
        height: 30px;
        border: none;
        background: #7fad39;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 3px;
        margin: 0 3px;
        }

        button:disabled {
        background: #ccc;
        cursor: not-allowed;
        }

        .quantity {
        font-size: 16px;
        min-width: 25px;
        text-align: center;
        }

        .primary-btn {
        background: #7fad39;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 5px;
        font-weight: bold;
        }

        .primary-btn:hover {
        background: #7fad39;
        }
        .product-subtext {
        font-size: 20px;
        color: #444;
        line-height: 1.7;
        word-spacing: 2px;
        max-width: 600px;
        margin: 0 auto;
        text-align:center
        }


        .owl-carousel .hero__item,
        .owl-carousel .hero__item2,
        .owl-carousel .hero__item3,
        .owl-carousel .hero__item4 {
        position: relative;
        width: 100%;
        height: 500px; /* Adjust height as needed */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        }

        .hero__item img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ensures full image is visible without cropping */
        }

        .hero__item {
        background-image: url('/img/WhatsApp\ Image\ 2025-02-11\ at\ 1.25.51\ AM.jpeg'); /* Add actual image paths */
        }

        .hero__item2 {
        background-image: url('/img/WhatsApp\ Image\ 2025-02-11\ at\ 12.21.44\ AM.jpeg');
        }

        .hero__item3 {
        background-image: url('/img/WhatsApp\ Image\ 2025-02-11\ at\ 12.38.21\ AM.jpeg');
        }

        .hero__item4 {
        background-image: url('/img/WhatsApp\ Image\ 2025-02-11\ at\ 2.49.40\ AM.jpeg');
        }

        .product__details__pic__item {
        width: 100%; /* Full width container */
        max-width: 500px; /* Adjust as needed */
        height: 600px; /* Set a fixed height */
        overflow: hidden; /* Prevent overflow */
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .product__details__pic__item--large {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image fills the space properly */
        }

    </style>
    <h1 class="product-heading"> Product Details</h1>
    <p class="product-subtext">
        Explore premium quality products designed to meet your expectations effortlessly.

    </p>
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">

                            @if (ViewBag.products != null && !string.IsNullOrEmpty(ViewBag.products.ProductImage))
                            {
                                <img src="~/ProductImages/@ViewBag.products.ProductImage" alt="">
                            }
                            else
                            {
                                <img src="~/img/default-product.png" alt="Default Image">
                            }


                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        @if (ViewBag.products!=null){
                            <h3> @ViewBag.products.ProductName</h3>
                        }
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div style="color:#7fad39" class="product__details__price">Rs: @if (ViewBag.products != null)
                            {
                                @ViewBag.products.ProductPrice

                            }

                        </div>
                        <p>
                            @if (ViewBag.products != null)
                            {
                                @ViewBag.products.ProductDescription
                            }

                        </p>



                        <div class="cart-container">
                         
                     
                        
                        @if (ViewBag.products != null){
                        <a href="@Url.Action("AddToCart", "Cart", new { productId = ViewBag.products.Product_id })" class="primary-btn">
                            ADD TO CART
                        </a>
                        }
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                            </div>
                        <ul>

                            @if (ViewBag.products != null && ViewBag.products.ProductQuantity > 0)
                                {

                                <li>  <b>Availability</b>   <span style="color:#7fad39; font-weight:600;">In Stock</span>  </li>
                                }
                          
                            else{
                                <li> <b>Availability</b>   <span style="color:red">Out Stock</span>  </li>
                            }
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>
</section>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="@Url.Action("Home","web")"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: ogani@gmail.com</li>
                            else if
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="@Url.Action("Home","web")">Home</a></li>
                            <li><a href="@Url.Action("About","web")">About Our Shop</a></li>
                            <li><a href="@Url.Action("Contact","web")">Contact Us</a></li>
                            <li><a href="@Url.Action("Chechout","web")">Checkout</a></li>
                            <li><a href="@Url.Action("Shop_details","web")">Shop Details</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                        <ul>
                            <li><a href="@Url.Action("Vegetables_category","category")">Vegetables</a></li>
                            <li><a href="@Url.Action("fruits_category","category")">Fresh Fruits</a></li>
                            <li><a href="@Url.Action("Grocery_category","category")">Grocery</a></li>
                            <li><a href="@Url.Action("Meat_category","category")">Meat & Sea Food</a></li>
                            <li><a href="@Url.Action("Cosmetics_category","category")">Cosmetics</a></li>
                            <li><a href="@Url.Action("Men_cloth_category","category")">Men Clothing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/categorypg_styling/lib/easing/easing.min.js"></script>
    <script src="~/categorypg_styling/lib/waypoints/waypoints.min.js"></script>
    <script src="~/categorypg_styling/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/categorypg_styling/lib/owlcarousel/owl.carousel.min.js"></script>


    <script src="~/categorypg_styling/js/main.js"></script>


    <script src="~/aboutpg_styling/js/jquery.min.js"></script>
    <script src="~/aboutpg_styling/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/aboutpg_styling/js/popper.min.js"></script>
    <script src="~/aboutpg_styling/js/bootstrap.min.js"></script>
    <script src="~/aboutpg_styling/js/jquery.easing.1.3.js"></script>
    <script src="~/aboutpg_styling/js/jquery.waypoints.min.js"></script>
    <script src="~/aboutpg_styling/js/jquery.stellar.min.js"></script>
    <script src="~/aboutpg_styling/js/owl.carousel.min.js"></script>
    <script src="~/aboutpg_styling/js/jquery.magnific-popup.min.js"></script>
    <script src="~/aboutpg_styling/js/aos.js"></script>
    <script src="~/aboutpg_styling/js/jquery.animateNumber.min.js"></script>
    <script src="~/aboutpg_styling/js/bootstrap-datepicker.js"></script>
    <script src="~/aboutpg_styling/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/aboutpg_styling/js/google-map.js"></script>
    <script src="~/aboutpg_styling/js/main.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function updateCartSummary() {
            $.ajax({
                url: '@Url.Action("CartSummary", "Cart")',
                type: 'GET',
                success: function (data) {
                    $(".header__cart ul li a i.fa-shopping-bag + span").text(data.itemCount);
                    $(".header__cart__price span").text("$" + data.totalPrice.toFixed(2));
                }
            });
        }

        $(document).ready(function () {
            updateCartSummary(); // Page load pe update kare
            setInterval(updateCartSummary, 5000); // Har 5 sec me update kare
        });
    </script>

    <script>
        let quantity = 1;
        const quantityDisplay = document.getElementById("quantity");
        const increaseBtn = document.getElementById("increase");
        const decreaseBtn = document.getElementById("decrease");

        increaseBtn.addEventListener("click", () => {
            quantity++;
            quantityDisplay.textContent = quantity;
            decreaseBtn.disabled = quantity === 1;
        });

        decreaseBtn.addEventListener("click", () => {
            if (quantity > 1) {
                quantity--;
                quantityDisplay.textContent = quantity;
            }
            decreaseBtn.disabled = quantity === 1;
        });
    </script>
    <script>
        function updateCart(cartId, quantity) {
            fetch(`/Cart/UpdateCart?cartId=${cartId}&quantity=${quantity}`, { method: "POST" })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                location.reload();
            });
        }

        function removeItem(cartId) {
            fetch(`/Cart/RemoveFromCart?cartId=${cartId}`, { method: "POST" })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                location.reload();
            });
        }
    </script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/dashboards-analytics.js"></script>
</body>